body {
  margin: 0;
  padding: 0;
}

.hero {
  background-image: url("../images/bgImage.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  flex: 1;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.hero-first-name {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

hr {
  width: 350px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}

.hero-last-name {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: 700;
}

.hero-skill {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.hero-btn {
  background-color: rgb(44, 37, 37);
  border-radius: 5px;
  width: 250px;
  margin: 2rem;
  height: 65px;
  transition: all 0.5s ease;
}

.hero-btn:hover {
  transform: scale(1.05);
}

.link {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  letter-spacing: 0.3rem;
}
